body {
    background: white;
    font-family: Verdana;
}

.photo {
    border: 5px solid rgb(160, 59, 201);
    border-radius: 50%;
}

#title, .subtitle, .post_title {
    color: rgb(131, 20, 243);
}

#title {
    font-size: 40px;
    text-transform: uppercase;
}

a {
    text-decoration: line-through;
    color: rgb(155, 57, 168);
}

.post_title {
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}

.post {
    background:rgb(250, 250, 250);
    padding: 10px;
    border: 3px solid rgb(145, 62, 156);
    margin-bottom: 15px;
    border-radius: 5px;
}

.post_content {
    margin: 0;
    margin-bottom: 15px;
    text-transform: capitalize;
}

.post_image {
    margin-bottom: 15px;
}

.contacts_list {
    list-style-type: none;
    margin: 0;
    padding-left: 15px;
}

.contacts_list li a {
    text-decoration: none;
}